[submodule "submodules/TBB"]
	path = submodules/TBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "submodules/lastz"]
	path = submodules/lastz
	url = https://github.com/lastz/lastz.git
[submodule "submodules/GenomeWorks"]
	path = submodules/GenomeWorks
	url = https://github.com/gsneha26/GenomeWorks.git
